
@import url("default.css");

dl.class dt {
    background-color: #e0ecff;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}

dl.method dt {
    background-color: #ffffff;
    border-bottom: none;
    border-top: none;
}

dl.docutils dt {
    background-color: #ffffff;
    border-bottom: none;
    border-top: none;
}

dl.staticmethod dt {
    background-color: #ffffff;
    border-bottom: none;
    border-top: none;
}

dl.data dt {
    background-color: #ffffff;
    border-bottom: none;
    border-top: none;
}

dl.attribute dt {
    background-color: #ffffff;
    border-bottom: none;
    border-top: none;
}

